
/* Main Styles */

  :root {
    --transition: .25s linear;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/Poppins-Regular.ttf");
  }

  html {
    box-sizing: border-box;

    font-size: 62.5%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;

    background: #1a1a1a;

    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    overflow: hidden;
  }

/* Top Bar */

  .top_bar {
    position: sticky;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 7rem;
    padding: 0 3rem;

    background: #111;
  }

  .weather {
    display: flex;
    flex-flow: column;
    justify-content: center;

    color: #444;

    font-size: 1.2rem;

    letter-spacing: .05rem;

    cursor: default;
  }

  .weather__loading {
    animation: spin 2s infinite linear;
    opacity: .65;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .search {
    display: flex;
    flex-direction: row;

    width: 30%;

    border: .1rem solid transparent;
    border-radius: .5rem;
    background: #161616;

    transition: var(--transition);
  }

    .search:hover {
      background: #1a1a1a;
    }

    .search:focus-within {
      border-color: #333;
      background: #1a1a1a;
    }

  .search__input {
    flex: 1;

    padding: 1rem 1rem 1rem 5rem;

    border: 0;
    background: transparent;
    color: #9e9e9e;

    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    text-align: center;

    outline: none;
    cursor: pointer;
  }

    .search__input::placeholder {
      color: #555;
    }

    .search__input:focus {
      cursor: text;
    }

  .search__button {
    width: 4rem;

    background: url('/images/ui/search.svg') no-repeat 50% 1.2rem;

    opacity: .35;
    transition: var(--transition);
    cursor: pointer;
  }

    .search__button:hover {
      opacity: 1;
    }

/* Sites */

  .sites {
    display: grid;
    grid-gap: 2.5rem;
    justify-content: center;

    margin: 2.5rem;
    padding: 0;
  }

  .thumbnail {
    padding: .2rem;

    border: .1rem solid #666;
    border-radius: 1rem;
    background: #333;

    transition: var(--transition);
    cursor: pointer;
  }

  .thumbnail__link {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    border: .1rem solid #666;
    border-radius: .8rem;

    overflow: hidden;
    transition: var(--transition);
  }

  .thumbnail__image {
    display: block;

    max-width: 100%;

    filter: blur(0);
    transition: var(--transition);
  }

    .thumbnail__image:hover {
      filter: blur(0);
    }

    .sites:hover .thumbnail:not(:hover) .thumbnail__image {
      filter: blur(.5rem);
    }

  .thumbnail__caption {
    position: absolute;
    left: 50%;
    top: 50%;

    padding: .5rem;
    border-radius: .5rem;

    background: rgba(0, 0, 0, .65);
    color: rgba(255, 255, 255, .8);

    font-size: 1.5rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    white-space: nowrap;

    transform: translate(-50%, -50%);
    opacity: 0;
    transition: var(--transition);
  }

    .thumbnail:hover .thumbnail__caption {
      opacity: 1;
    }


/* Previews */

  .preview {
    position: absolute;
    top: calc(50vh - .5rem);

    display: flex;
    justify-content: center;

    width: 100%;
    height: 50rem;

    overflow: hidden;
  }

  .preview__divider {
    width: 0;
    height: .5rem;

    transition: var(--transition);
  }

  .preview__image {
    position: absolute;
    top: 50vh;

    min-width: 100%;
    max-width: 100%;

    transition: var(--transition);
  }

/* Settings */

  .settings {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #111;
    color: #ccc;

    overflow: scroll;
    scroll-behavior: smooth;
    transition: var(--transition);
  }

    .settings a { color: #ccc; }

  .settings__wrapper {
    width: 40%;
    margin: 0 auto;
  }

  .settings__weather,
  .settings__site {
    margin-bottom: 3rem;
    padding: 3rem;
  }

  .settings__heading {
    margin: 0;

    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }

  #weather__toggle {
    position: absolute;

    width: .1rem;
    height: .1rem;
    margin: -.1rem;
    padding: 0;

    border: 0;

    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  .weather__switch {
    position: relative;

    display: inline-block;

    width: 5rem;
    height: 2.5rem;
    border-radius: 2.5rem;

    background-color: #222;

    transition: var(--transition);
    cursor: pointer;
  }

  .weather__switch::after {
    position: absolute;
    top: .1rem;
    left: .1rem;

    width: 2.3rem;
    height: 2.3rem;
    border-radius: 2.3rem;

    background-color: #fff;

    content: '';

    transition: var(--transition);
  }

  #weather__toggle:checked + .weather__switch::after {
    transform: translateX(2.5rem);
  }

  #weather__toggle:checked + .weather__switch {
    background-color: #72c355;
  }

  .setting {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 3rem;
  }

    .setting:first-child { margin-top: 0; }

    .setting--weather { justify-content: space-between; }

    .weather__wrapper { display: flex; justify-content: center; }

  .setting__label {
    flex: 1;

    font-size: 1.2rem;
  }

  .setting__input {
    flex: 5;

    padding: 1rem;
    border-radius: .5rem;

    border: .1rem solid #161616;
    background: #161616;
    color: #9e9e9e;

    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .1rem;

    outline: none;
    transition: var(--transition);
    cursor: pointer;
  }

    .setting__input::placeholder {
      color: #555;
    }

    .setting__input:hover {
      background: #1a1a1a;
    }

    .setting__input:focus {
      border-color: #333;
      background: #1a1a1a;

      cursor: text;
    }

    .setting__input--error,
    .setting__input--error:focus {
      border-color: #941919;
    }

  .setting--color {
    flex: 5;
    align-items: center;
    justify-content: flex-start;

    margin-top: 0;
    border-radius: .5rem;

    border: .1rem solid transparent;
    background: #fff;

    transition: var(--transition);
  }

    .setting--color:focus-within {
      border: .1rem solid #888;
    }

  .setting__color {
    display: block;

    width: 100%;
    height: 3.5rem;

    border: none;

    opacity: 0;
    cursor: pointer;
  }

  .settings__button {
    display: block;

    width: 10rem;
    margin: 0 auto 3rem auto;
    padding: 1rem;
    border-radius: .5rem;

    border: .1rem solid transparent;

    font-size: 1.2rem;
    text-align: center;

    transition: var(--transition);
    cursor: pointer;
  }

  .settings__button--open {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    padding: 0;

    opacity: .5;
  }

    .settings__button--open:hover {
      opacity: .75;
    }

  .settings__icon {
    width: 1.5rem;

    transform: rotateZ(-720deg);
    transition: var(--transition);
  }

    .settings__icon:hover {
      transform: rotateZ(720deg);
     }

  .settings__button--save {
    border-color: #444;
    background: #333;

    text-transform: uppercase;
    letter-spacing: .1rem;
  }

    .settings__button--save:hover {
      background: #444;
    }

  .settings__button--close {
    width: fit-content;
    padding: 0;
    border-radius: 0;

    border: 0;
    border-bottom: .1rem solid transparent;

    text-transform: uppercase;
  }

    .settings__button--close:hover {
      border-bottom: .1rem solid #888;
    }

/* Reduced Motion Support */

  @media ( prefers-reduced-motion: reduce ) {
    :root {
      --transition: 0s;
    }

    .settings {
      scroll-behavior: auto;
    }
  }