/* Main Styles */

  :root {
    --transition: .25s linear;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/Poppins-Regular.ttf");
  }

  html {
    box-sizing: border-box;

    font-size: 62.5%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    height: 100vh;
    margin: 0;
    padding: 0;

    background: #141414;

    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    overflow: hidden;
  }

/* Top Bar */

  .top-bar {
    position: sticky;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 7rem;
    padding: 0 3rem;

    background: #101010;
  }

  .top-bar-wrapper {
    flex: 1;
  }

  .top-bar-wrapper.right {
    text-align: right;
  }

  @media only screen and (max-width: 800px) {
    .top-bar-wrapper.middle {
      flex: 2;
    }
  }

  .weather {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    width: fit-content;

    color: #444;

    font-size: 1.2rem;

    letter-spacing: .05rem;

    cursor: default;
  }

  .weather-status,
  .weather-temperature {
    display: block;

    width: fit-content;
    height: fit-content;
  }

  .weather-status {
    margin-right: 1rem;
  }

  .weather-icon { display: block; }

  .weather-temperature {
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
  }

  .loading-icon {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;

    border: 3px solid #222;
    border-top-color: #4a4a4a;

    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .search {
    display: flex;
    flex-direction: row;

    width: 100%;

    border: .1rem solid transparent;
    border-radius: .5rem;
    background: #141414;

    transition: var(--transition);
  }

    .search:hover {
      background: #1a1a1a;
    }

    .search:focus-within {
      border-color: #333;
      background: #1a1a1a;
    }

  .search-input {
    flex: 1;

    padding: 1rem 1rem 1rem 5rem;

    border: 0;
    background: transparent;
    color: #9e9e9e;

    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-align: center;

    outline: none;
    cursor: pointer;
  }

    .search-input::placeholder {
      color: #555;
    }

    .search-input:focus {
      cursor: text;
    }

  .search-button {
    width: 4rem;

    background: url('/images/ui/search.svg') no-repeat 50% 1.2rem;

    opacity: .35;
    transition: var(--transition);
    cursor: pointer;
  }

    .search-button:hover {
      opacity: 1;
    }

  .open-settings-button {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    padding: 0;

    cursor: pointer;
  }

  .settings-icon {
    opacity: .5;
    transform: rotateZ(-720deg);
    transition: var(--transition);
  }

    .settings-icon:hover {
      opacity: .75;
      transform: rotateZ(720deg);
     }


/* Sites */

  .thumbnails {
    display: grid;
    grid-gap: 2.5rem;
    justify-content: center;

    margin: 2.5rem;
    padding: 0;
  }

  .thumbnail {
    padding: .2rem;

    border: .1rem solid #666;
    border-radius: 1rem;
    background: #333;

    transition: var(--transition);
    cursor: pointer;
  }

  .thumbnail-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    border: .1rem solid #666;
    border-radius: .8rem;

    overflow: hidden;
    transition: var(--transition);
  }

  .thumbnail-image {
    display: block;

    max-width: 100%;

    filter: blur(0);
    transition: var(--transition);
  }

  .thumbnail-caption {
    position: absolute;
    left: 50%;
    top: 50%;

    padding: .5rem;
    border-radius: .5rem;

    background: rgba(0, 0, 0, .65);
    color: rgba(255, 255, 255, .8);

    font-size: 1.5rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    white-space: nowrap;

    transform: translate(-50%, -50%);
    opacity: 0;
    transition: var(--transition);
  }

    .thumbnail:hover .thumbnail-caption {
      opacity: 1;
    }


/* Previews */

  .preview {
    position: absolute;
    top: calc(50vh - .5rem);

    display: flex;
    justify-content: center;

    width: 100%;
    height: 50rem;

    overflow: hidden;
  }

  .preview-divider {
    width: 0;
    height: .5rem;

    transition: var(--transition);
  }

  .preview-image {
    position: absolute;
    top: 50vh;

    min-width: 100%;
    max-width: 100%;

    transition: var(--transition);
  }

/* Settings */

  .settings-panel {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #111;
    color: #ccc;

    overflow: scroll;
    scroll-behavior: smooth;
    transition: var(--transition);
    cursor: default;
  }

    .settings-panel a { color: #ccc; }

  .settings {
    width: 40%;
    margin: 0 auto;
  }

  .weather-settings,
  .site-settings {
    margin-bottom: 3rem;
    padding: 3rem;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 3rem;
  }

  h1 {
    margin: 0;

    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }

  #weather-toggle {
    position: absolute;

    width: .1rem;
    height: .1rem;
    margin: -.1rem;
    padding: 0;

    border: 0;

    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  .weather-switch {
    position: relative;

    display: inline-block;

    width: 5rem;
    height: 2.5rem;
    border-radius: 2.5rem;

    background-color: #222;

    transition: var(--transition);
    cursor: pointer;
  }

  .weather-switch::after {
    position: absolute;
    top: .1rem;
    left: .1rem;

    width: 2.3rem;
    height: 2.3rem;
    border-radius: 2.3rem;

    background-color: #fff;

    content: '';

    transition: var(--transition);
  }

  #weather-toggle:checked + .weather-switch::after {
    transform: translateX(2.5rem);
  }

  #weather-toggle:checked + .weather-switch {
    background-color: #72c355;
  }

  .setting {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 3rem;
  }

    .setting:first-child { margin-top: 0; }

  label {
    flex: 1;

    font-size: 1.2rem;
  }

  input {
    flex: 5;

    padding: 1rem;
    border-radius: .5rem;

    border: .1rem solid #161616;
    background: #161616;
    color: #9e9e9e;

    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .1rem;

    outline: none;
    transition: var(--transition);
    cursor: pointer;
  }

    input::placeholder {
      color: #555;
    }

    input:hover {
      background: #1a1a1a;
    }

    input:focus {
      border-color: #333;
      background: #1a1a1a;

      cursor: text;
    }

    .error,
    .error:focus {
      border-color: #941919;
    }

  .color {
    flex: 5;
    align-items: center;
    justify-content: flex-start;

    margin-top: 0;
    border-radius: .5rem;

    border: .1rem solid transparent;
    background: #fff;

    transition: var(--transition);
    cursor: pointer;
  }

    .color:focus-within {
      border: .1rem solid #888;
    }

  .color-input {
    display: block;

    width: 100%;
    height: 3.5rem;

    border: none;

    opacity: 0;
    cursor: pointer;
  }

  .save-settings-button {
    display: block;

    width: 10rem;
    margin: 0 auto 3rem auto;
    padding: 1rem;
    border-radius: .5rem;

    border: .1rem solid #444;
    background: #333;

    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-align: center;

    transition: var(--transition);
    cursor: pointer;
  }

    .save-settings-button:hover {
      background: #444;
    }

  .cancel-settings-button {
    position: relative;

    display: block;

    width: fit-content;
    margin: 0 auto 3rem auto;
    padding: 0 0 .2rem 0;

    border: .1rem solid transparent;

    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;

    transition: var(--transition);
    cursor: pointer;
  }

    .cancel-settings-button::before {
      content: '';

      position: absolute;
      left: 50%;
      bottom: 0;

      width: 100%;
      height: 1px;

      background-color: #fff;

      transform-origin: center;
      transform: translate(-50%, 0) scaleX(0);
      transition: var(--transition);
    }

    .cancel-settings-button:hover::before {
      transform: translate(-50%, 0) scaleX(1);
    }

/* Reduced Motion Support */

  @media ( prefers-reduced-motion: reduce ) {
    :root {
      --transition: 0s;
    }

    .weather-loading {
      visibility: hidden;
    }

    .settings-panel {
      scroll-behavior: auto;
    }
  }
